.wrapper {
  position: relative;
  width: 50vw;
  height: 30vh;
  background-color: #eee;
  padding: 1.5vw;
}

.block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border: 1px solid black;
  height: 20%;

}

.block::before {
  content: 'Select:';
  display: block;
  position: absolute;
  left: 3vw;
  top: 0;
  font-size: 0.9em;
  background-color: #eee;
}

.indicateBlock {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
}

.buttonColor {
  margin: 1vh 3vw 1vh 0.5vw;
  margin-left: 3vw;
  border: none;
  outline: none;
  background-color: #aaa;
  border-radius: 0.3vw;
}

.buttonBgColor {
  margin: 1vh 0.5vw;

  color: white;
  border: none;
  outline: none;
  border-radius: 0.3vw;
  background-color: #88f;
}

.textBlock {
  border-radius: 1vh;
  border: 1px solid #777;
  height: 15vh;
  width: 40%;
  margin: 5vh;
  background-color: #808080;
}

.rangesBlock {

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  border: 1px solid black;
  margin: 5vh;
}

input[type='range'] {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: white;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #434343;
  box-shadow: -50vw 0 0 50vw white;
}

input.red::-webkit-slider-thumb {
  box-shadow: -50vw 0 0 50vw #f44;
}

input.green::-webkit-slider-thumb {
  box-shadow: -50vw 0 0 50vw #4f4;
}

input.blue::-webkit-slider-thumb {
  box-shadow: -50vw 0 0 50vw #44f;
}
